@import "tailwindcss";

@theme {
  --color-background: #0b0e11;
  --color-surface: #1e2329;
  --color-primary: #FCD535;
  --color-secondary: #474D57;
  --color-success: #0ECB81;
  --color-danger: #F6465D;
}

body {
  @apply bg-background text-white font-sans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded;
}